h1{
	text-align: center;
	font-size: 72pt;
	font-family: Crushed;
	margin: 15px;
}

@font-face{
	font-family:"Pangolin";
	src: url("Pangolin-Regular.ttf") format("truetype");
}

@font-face{
	font-family: "Crushed";
	src: url("Crushed.ttf") format("truetype");
}

body{
	background-color: #c6a1ff;
	background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.4'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#container{
	margin: auto;
	text-align: center;
	height: 100px;
	width: 500px;
}

.subjectDiv{
	border: 3.5px groove white;
	border-radius: 15px;
	text-align: center;
	padding: 15px;
	background-image: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0));
	word-wrap: break-word;
	margin: 10px;
}

.divButtons{
	height: 25px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 15px;
	padding: 5px;
	width: 75px;
	height: 27px;
	border-radius: 20px;
	border: 1px solid black;
	background-image: linear-gradient(rgba(255,255,255,1), rgba(148,77,255,0.8));
	font-variant: small-caps;
	font-family: Georgia;
}

.subjTitle{
	font-family: Pangolin;
	font-variant: small-caps;
	font-size: 200%;
	margin: auto;
}

.brief{
	font-variant: small-caps;
	font-weight: bold;
}

.menu{
	height: 50px;
	width: 150px;
	border: 1.5px solid black;
	border-radius: 15px;
	margin: 10px;
	background-image: linear-gradient(rgba(255,255,255,1), rgba(148,77,255,0.8));
	font-variant: small-caps;
	-webkit-transition: 0.5s;
	transition: 0.5s;

}

.menu.active {

    -webkit-box-shadow: 0 0 30px cyan;
       -moz-box-shadow: 0 0 30px cyan;
            box-shadow: 0 0 30px cyan;
}
