@font-face{
	font-family:"Pangolin";
	src: url("Pangolin-Regular.ttf") format("truetype");
}

body {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1{
	font-family: Pangolin;
	font-size: 400%;
	margin: auto;
}

#theme{
	height: 100%;
	width: 15%;
	border-radius: 25px;
	border: 4px inset grey;
	padding: 1%;
	margin: 1%;
}

#title {
	font-size: 180%;
	word-wrap: break-word;
}

#save {
	-webkit-transition: 1s;
	transition: 1s;
}

#save.active {

  -webkit-box-shadow: 0 0 30px cyan;
  -moz-box-shadow: 0 0 30px cyan;
  box-shadow: 0 0 30px cyan;
	background: #80ff00;
}

#nav{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.menu {
	height: 50px;
	width: 125px;
	margin: 0 5px 0 5px;
	font-variant: small-caps;
	background-image: linear-gradient(rgba(255,255,255,1), rgba(148,77,255,0.8));
	border: 1.5px solid black;
	border-radius: 15px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

#container{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.questionDiv{
	padding: 2% 1% 2% 1%;
	margin: 10px;
	text-align: center;
	width: 100%;
	height: 5%;
	border: 3px grey groove;
	border-radius: 30px;
	background-color: white;
	background-image: linear-gradient(rgba(255,255,255,0), rgba(148,77,255,1));
}

.questionDiv-inner-content{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-bottom: 1%;
}

.questionDiv-inner-actions{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.questionDiv-inner-checkbox{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-family: Arial;
	font-variant: small-caps;
	margin-bottom: 1%;
}

.addToQuiz{
	height: 20px;
	width: 20px;
}

.deleteButton {
	width: 15%;
	padding: 0.5%;
	margin: 0 5px 0 5px;
	font-variant: small-caps;
	border: 1.5px solid black;
	border-radius: 15px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	background-image: linear-gradient(rgba(255,255,255,1), rgba(211,211,211,1));

}

#descript{
	text-align: center;
	padding: 10px;
	border: 1px dashed black;
	width: 40%;
}

.actions{
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	padding-bottom: 1%;
}

#addQuestion, #save, #deleteTopic{
	width: 10%;
	padding: 0.7%;
	margin: 0 5px 0 5px;
	font-variant: small-caps;
	border: 1.5px solid black;
	border-radius: 15px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	background-image: linear-gradient(rgba(255,255,255,1), rgba(211,211,211,1));
}

#export{
	resize: none;
	font-family: Lucida Console;
	padding: 10px;
	border: 1px dashed black;
	border-radius: 15px;
	width: 90%;
}

#share{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: black;
	color: white;
	width: 70%;
	border-radius: 25px;
	word-wrap: break-word;
	padding: 1% 1% 3% 1%;
	font-family: Arial;
	border: 2px solid white;
	font-size: 10pt;
}

.qclass, .aclass, .nclass{
	border-radius: 10px;
	padding: 5px;
	width: 30%;
	margin: 0.5%;
	border: 2px inset lightgrey;
}
