@font-face{
	font-family:"Pangolin";
	src: url("Pangolin-Regular.ttf") format("truetype");
}

h1{
	font-family: Pangolin;
	font-size: 300%;
	margin: 15px;
}

#theme{
	height: 25px;
	width: 200px;
}

#homeButton{
	height: 25px;
	width: 125px;
	font-variant: small-caps;
	background-image: linear-gradient(rgba(255,255,255,0.6), rgba(194,194,214,1));
	border: 1px solid black
}

#container{
	margin: auto;
	text-align: center;
}

.questionDiv{
	padding: 12px;
	margin: 10px;
	text-align: center;
	width: 60%;
	height: 125px;
	border: 3px grey groove;
	border-radius: 15px;
	background-color: lightgrey;
}

#descript{
	text-align: center;
	margin: 10px;
	padding: 10px;
	border: 1px dashed black;
	width: 60%;
}

#addQuestion, #save, #deleteSubject{
	margin: 10px;
	height: 25px;
	width: 150px;
	font-variant: small-caps;
	background-image: linear-gradient(rgba(255,255,255,0.6), rgba(194,194,214,1));
	border: 1px solid black
}

#export{
	resize: none;
	font-family: Lucida Console;
	padding: 10px;
	border: 1px dashed black;
	width: 70%;
}

#share{
	background-color: black;
	color: white;
	width: 70%;
	border-radius: 15px;
	word-wrap: break-word;
	padding: 2px;
	margin: 10px;
	font-family: Arial;
	border: 2px solid white;
	font-size: 10pt;
}

.qclass, .aclass{
	border-radius: 10px;
	padding: 3px;
	width: 42%;
	margin: 0.5%;
}
