@font-face{
	font-family:"Pangolin";
	src: url("Pangolin-Regular.ttf") format("truetype");
}

.body{
	height: 100%;
	width: 100%;
}

#title{
	text-align: center;
	font-size: 180%;
}

#nav{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#themeMenu {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 2%;
}

.menu {
	height: 50px;
	width: 125px;
	margin: 0 5px 0 5px;
	font-variant: small-caps;
	background-image: linear-gradient(rgba(255,255,255,1), rgba(148,77,255,0.8));
	border: 1.5px solid black;
	border-radius: 15px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

h1{
	font-family: Pangolin;
	font-size: 400%;
	margin: 15px;
}

#color1, #color2, #theme {
	height: 1%;
	width: 15%;
	border-radius: 25px;
	border: 4px inset grey;
	padding: 1%;
	margin: 0.5%;
}

#color1Button {
	background-image: linear-gradient(rgba(255,255,255,0.6), rgb(101, 213, 95));
	border: 0.5px black;
	border-radius: 30px;
	width: 50px;
	height: 50px;
	margin-left: 0.5%;
}

/* #color1, #color1Button{
		margin-top: 30px;
} */

#check {
	color: green;
  margin: 0;
  font-size: 20px;
}

#container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: auto;
	text-align: center;
	height: 100%;
	width: 55%;
}

.topDiv{
	/* display: flex;
	justify-content: center;
	align-items: center; */
	height: 100%;
	width: 100%;
	border: 3.5px groove lightgrey;
	border-radius: 25px;
	padding: 3%;
	background-image: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0));
	word-wrap: break-word;
	/* margin: 10px; */
}

.topButtons{
	height: 25px;
	margin: 15px 35px 0 35px;
	padding: 5px;
	width: 85px;
	height: 45px;
	border-radius: 20px;
	border: 0.5px solid black;
	background-image: linear-gradient(rgba(255,255,255,1), rgba(148,77,255,0.8));
	font-variant: small-caps;
	font-family: Georgia;
}

.topTitle{
	font-family: Pangolin;
	font-variant: small-caps;
	font-size: 300%;
	margin: auto;
}

.brief{
	font-variant: small-caps;
	font-weight: bold;
}

.menu.active {

    -webkit-box-shadow: 0 0 30px cyan;
       -moz-box-shadow: 0 0 30px cyan;
            box-shadow: 0 0 30px cyan;
}
